
{{#hasactivities}}
      <canvas class="layer1" style=" left: 0; top: 0; z-index: 0;"></canvas>
      <canvas class="layer2" style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>

{{#js}}
 
require(['jquery'], function($) {

var canvas1 = document.querySelector('.layer1');
var canvas = document.querySelector('.layer2');
var div = document.querySelector('.unilabel-content');
var ctx = canvas.getContext('2d');
var ctx1 = canvas1.getContext('2d');

div.style.width ='100%';
div.style.height='100%';
div.width = canvas.parentElement.offsetWidth;
div.height = Math.floor((div.width * 9) / 16);
canvas.height = div.height;
canvas.width = div.width;
canvas1.height = canvas.height;
canvas1.width = canvas.width;
var scaleX = canvas.width / 2476;
var scaleY = canvas.height / 1780;
ctx.scale(scaleX, scaleY);
ctx1.scale(scaleX, scaleY);
var timeRemaining = 0;
var count = 0;
var userGrade = 0;
var maxGrade = 0;
var fps = 30;
var i = 0;
var xy;
var percent = 0;
var d = 1;
var direction = 1;
var lastPath;
var path = 0;
var animationComplete = true;
var pathPrev;
var keyPressed;
var completions = [];
var assignments = [];
var activities = [];
var sizeRect = 170;
var rect = {
  x:(canvas.width / scaleX - sizeRect) / 2,
  y:(canvas.height / scaleY - sizeRect) / 2,
  width:170,
  height:170
};
var middleCanvas = {
  x: canvas.offsetWidth / 2,
  y: canvas.offsetHeight / 2
};
// Imagens
var spriteLoaded = false;
var sprite;
var background0;
var background1;
var background2;
var background3;
var background4;

var keyCodes = [
  {
    key: 40,
    move: 'DOWN'
  },
  {
    key: 38,
    move: 'UP'
  },
  { 
    key: 37,
    move: 'LEFT'
  },
  {
    key: 39,
    move: 'RIGHT'
  }
];

var stages =[{
  // 0  - 1 (0)
  start: {
    x: 272,
    y: 459
  },
  end: {
    x: 567,
    y: 403
  },
  type:'line',
  moveForward: 'RIGHT',
  color: 'red',
  nextPath: 1,
  previousPath: 0,
  section: 0
},{
  // 1 - 2 (1)
  start: {
    x: 567,
    y: 403
  },
  end: {
    x: 561,
    y: 837
  },
  type:'line',
  moveBackwards: 'LEFT',
  moveForward: 'DOWN',
  color: 'red',
  nextPath: 2,
  previousPath: 0,
  section: 1
},{
  // 2  - 3 (2)
  start: {
    x: 561,
    y: 837
  },
  end: {
    x: 567,
    y: 1212
  },
  type:'line',
  moveBackwards: 'UP',
  moveForward: 'DOWN',
  color: 'red',
  nextPath: 3,
  previousPath: 1,
  section: 2
},{
  // 3  - 4 (3)
  start: {
    x: 567,
    y: 1212
  },
  end: {
    x: 1098,
    y: 1264
  },
  type:'line',
  moveBackwards: 'UP',
  moveForward: 'RIGHT',
  color: 'red',
  nextPath: 4,
  previousPath: 2,
  section: 3
},{
  // 4 - 5 (4)
  start: {
    x: 1098,
    y: 1264
  },
  end: {
    x: 1153,
    y: 777
  },
  type:'line',
  moveBackwards: 'LEFT',
  moveForward: 'UP',
  moveForwardTwo: 'RIGHT',
  color: 'red',
  nextPath: 5,
  nextPathTwo: 6,
  previousPath: 3,
  section: 4
},{
  // 5 - 7 (5)
  start: {
    x: 1153,
    y: 777
  },
  end: {
    x: 1902,
    y: 334
  },
  type:'line',
  moveBackwards: 'DOWN',
  moveForward: 'RIGHT',
  color: 'red',
  nextPath: 8,
  previousPath: 4,
  section: 5
},{
  // 4 - 6 (6)
  start: {
    x: 1098,
    y: 1264
  },
  end: {
    x: 1768,
    y: 1173
  },
  type:'line',
  moveBackwards: 'LEFT',
  moveForward: 'RIGHT',
  color: 'red',
  nextPath: 7,
  previousPath: 4,
  section: 4
},{
  // 6 - 7 (7)
  start: {
    x: 1768,
    y: 1173
  },
  end: {
    x: 1902,
    y: 334
  },
  type:'line',
  moveBackwards: 'LEFT',
  moveForward: 'UP',
  color: 'red',
  nextPath: 8,
  previousPath: 6,
  section: 6
},{
  // 7 (8)
  start: {
    x: 1902,
    y: 334
  },
  end: {
    x: 1902,
    y: 334
  },
  type:'line',
  moveBackwards: 'LEFT',
  moveBackwardsTwo: 'DOWN',
  color: 'red',
  nextPath: 8,
  previousPath: 5,
  previousPathTwo: 7,
  section: 7
}];
var sites;
// Map logic
function animate(){
    draw(percent, path);
    percent += direction;
}

function animateForward(endingPoint) {
  animate();
  if (percent === 100){
    return saveVars(stages[path].nextPath);
  }
  window.requestAnimationFrame(animateForward);
}

function animateBackwards(){
  animate();
  if (percent === 0){
    if(stages[stages[path].previousPath].nextPathTwo === path){
      return saveVars(stages[path].previousPath);
    }
    return saveVars(path);
  }
  window.requestAnimationFrame(animateBackwards);
}

window.requestAnimationFrame = (function(){
  return  window.requestAnimationFrame       ||
          window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame    ||
          window.msRequestAnimationFrame     ||
          function(callback){
            window.setTimeout(callback, 1000 / fps);
          };
})();


// draw the current frame based on sliderValue
function draw(sliderValue, path) {

  // redraw path
  drawPath();
  drawGrades();
  var percent = sliderValue / 100;
  if (stages[path].type === 'line') {
    xy = getLineXYatPercent(stages[path].start, stages[path].end, percent);
  }
  else if (stages[path].type === 'quadratic') {
    xy = getQuadraticBezierXYatPercent(stages[path].start, stages[path].control, stages[path].end, percent);
  }
  else if (stages[path].type === 'cubic')  {
    xy = getCubicBezierXYatPercent(stages[path].start, stages[path].control1, stages[path].control2, stages[path].end, percent);
  }
  drawSprite(xy);
}

function drawGrades(){
  ctx.font = "40px Arial";
  ctx.clearRect(2000, 225, 250, 35);
  ctx.fillStyle = "red";
  ctx.fillText("Nota: " + userGrade + "/" + maxGrade , 2000, 250);
}

function drawTimer(){
  if(!timer){
    var timer = setInterval(function() {
        let {days, hours, minutes, seconds} = getTime(timeRemaining);
        ctx.font = "60px Arial";
        ctx.fillStyle = "red";
        ctx.clearRect(600, 35, 2600, 150);
        ctx.fillText("Tempo restante: " + days + "dias " + hours + "h " + minutes + "min" + seconds + "s", 600, 80);
    }, 1000);
  }
}

// draw sprite on xy
function drawSprite(point) {
  var cellWidth = 100;
  var cellHeight = 150;
  var currentCell = findSpriteCell();
  if (spriteLoaded)
  ctx.drawImage(sprite, currentCell.x * cellWidth, currentCell.y * cellHeight, cellWidth, cellHeight, point.x - 10, point.y - 25, 20, 30);
}

function findSpriteCell (){
  var currentCell = {x: 0 , y: 0};
  if (percent != 0){
    currentCell.x = findSpriteCellX();
    currentCell.y = findSpriteCellY();
  }
  return currentCell;
}

function findSpriteCellY(){
  var index = keyCodes.map(function(obj) { return obj.move; }).indexOf(keyPressed);
  if (path === 7 && 85 > percent && 15 < percent){
    if(keyPressed === 'DOWN') index = 3;
    if(keyPressed === 'UP') index = 2;
  }
  return index != -1 ? index : 0;
}

function findSpriteCellX(){
  var velocity = 4;
  count++;
  count %= (4 * velocity);
  return Math.floor(count / velocity);
}

// path: percent is 0-1
function getLineXYatPercent(startPt, endPt, percent) {
  var dx = endPt.x - startPt.x;
  var dy = endPt.y - startPt.y;
  var X = startPt.x + dx * percent;
  var Y = startPt.y + dy * percent;
  return ({ x: X, y: Y });
}

// quadratic bezier: percent is 0-1
function getQuadraticBezierXYatPercent(startPt, controlPt, endPt, percent) {
  var x = Math.pow(1 - percent, 2) * startPt.x + 2 * (1 - percent) * percent * controlPt.x + Math.pow(percent, 2) * endPt.x;
  var y = Math.pow(1 - percent, 2) * startPt.y + 2 * (1 - percent) * percent * controlPt.y + Math.pow(percent, 2) * endPt.y;
  return ({ x: x, y: y });
}

// cubic bezier percent is 0-1
function getCubicBezierXYatPercent(startPt, controlPt1, controlPt2, endPt, percent) {
  var x = CubicN(percent, startPt.x, controlPt1.x, controlPt2.x, endPt.x);
  var y = CubicN(percent, startPt.y, controlPt1.y, controlPt2.y, endPt.y);
  return ({ x: x, y: y });
}

// cubic helper formula at percent distance
function CubicN(pct, a, b, c, d) {
  var t2 = pct * pct;
  var t3 = t2 * pct;
  return a + (-a * 3 + pct * (3 * a - a * pct)) * pct
    + (3 * b + pct * (-6 * b + b * 3 * pct)) * pct
    + (c * 3 - c * 3 * pct) * t2
    + d * t3;
}


function isInside(pos, middleCanvas, rect){
  return pos.x > middleCanvas.x - (rect.width/2)  && pos.x < middleCanvas.x+(rect.width/2) && pos.y < middleCanvas.y + (rect.height/2) && pos.y > middleCanvas.y - (rect.height/2);
}

// Draws the path so the user can see
function drawPath () {
  ctx.clearRect(0, 250, canvas.width / scaleX, canvas.height / scaleY);
  ctx.lineWidth = 5;
  for (var i = 0; i < stages.length; i++) { 
    ctx.beginPath();
    ctx.moveTo(stages[i].start.x, stages[i].start.y);
    ctx.strokeStyle = stages[i].color;
    if(stages[i].type === 'line'){
      ctx.lineTo(stages[i].end.x, stages[i].end.y);
    }else if (stages[i].type === 'quadratic'){
      ctx.quadraticCurveTo(stages[i].control.x, stages[i].control.y, stages[i].end.x, stages[i].end.y);
    }else if (stages[i].type === 'cubic'){
      ctx.bezierCurveTo(stages[i].control1.x, stages[i].control1.y, stages[i].control2.x,
        stages[i].control2.y, stages[i].end.x, stages[i].end.y);
    }
    ctx.stroke();
  }
  drawArcs();
}

function drawArcs() {
  for (var i = 0; i < stages.length; i++) { 
    ctx.beginPath();
    ctx.arc(stages[i].start.x, stages[i].start.y, 10, 0, 2 * Math.PI);
    ctx.moveTo(stages[i].start.x, stages[i].start.y);
    ctx.fillStyle = findColor(i);
    ctx.fill();
  }
}

function colorPaths(){
  for (var i = 0; i < lastPath; i++){
    stages[i].color = 'green';
  }
  if(stages[4].color === 'green'){
    stages[6].color = 'green';
  }   
}

function findColor(stage){
  if(stage === 6) stage = 4;
  if(stage > 5 && stage < 9) stage--;
  var activitiesOnSection = activities.filter(function(e){ return e.section === stage;});
  return filterByActivity(activitiesOnSection);
}

function filterByActivity(activities){
  var filtered = activities.filter(function(e) { return e.completion === '0'});
  if(filtered.length > 0) return 'red';
  filtered = activities.filter(function(e) { return e.completion === 'submitted'});
  if(filtered.length > 0) return 'blue';
  filtered = activities.filter(function(e) { return e.completion === '3'});
  if(filtered.length > 0) return 'orange';
  filtered = activities.filter(function(e) { return e.completion === '2'});
  if(filtered.length > 0) return 'green';
  filtered = activities.filter(function(e) { return e.completion === '1'});
  if(filtered.length > 0) return 'green';
  return 'green';
}

function changePath(progress, directions, nextPath){
  pathPrev = path;
  path = nextPath;
  animationComplete = false;
  direction = directions;
  percent = progress;
}

function enterKeyEvent(){
    if(stages[path].section === 0){
      var forumActivity = activities.filter(function(e) { return e.type === 'forum'});
      if(forumActivity.length > 0){
        window.open(forumActivity[0].url);
        return false;
      }
    }
    if(stages[path].section < 7) {
      redirectToSection(stages[path].section);
    }
    if(stages[path].section == 7){
      var filtered = activities.filter(function(e) { return e.section === 3});
      filtered = filtered.filter(function(e) { return e.completion != '1'});
      if (filtered.length > 0){
        alert('Aprovação necessária no desafio 3.');
        return false;
      }
      redirectToSection(stages[path].section);
    }
}

function progressForward(){
  changePath(0, 1, path);
  animateForward();
}

function progressBackwards(previousPath){
  changePath(100, -1, previousPath);
  animateBackwards();
}

function progressForwardTwo(nextPath){
  changePath(0, 1, nextPath);
  animateForward();
}

function arrowKeyEvents(index){

  keyPressed = keyCodes[index].move;
  if (path < lastPath){
    if(stages[path].moveForward === keyPressed){
      progressForward();
    } else if(stages[path].moveForwardTwo === keyPressed){
      progressForwardTwo(stages[path].nextPathTwo);
    }
  }
  if(stages[path].moveBackwards === keyPressed){
    progressBackwards(stages[path].previousPath);
  } else if(stages[path].moveBackwardsTwo === keyPressed){
    progressBackwards(stages[path].previousPathTwo);
  }
}

function keyEvents(e){
  e.preventDefault();
    if(animationComplete){
      if (e.keyCode === 13){
        enterKeyEvent();
      }
      var index = keyCodes.map(function(obj) { return obj.key; }).indexOf(e.keyCode);
      if(index >= 0) {
        arrowKeyEvents(index);
      }
   }
}

function getMousePos(canvas, event) {
  var rect = canvas.getBoundingClientRect();
  return {
    x: event.clientX - rect.left,
    y: event.clientY - rect.top
  };
}

function redirectToSection(section) {
  var uri = window.location.href.split("&")[0];
  if(uri.split("#")[0]){
    window.location = uri.split("#")[0] + "&section=" + section + "#section-" + section;
  }
  if(window.location.search !== ""){
    window.location = uri + "&section=" + section + "#section-" + section;
  }
}

function RemoveLastDirectoryPartOf(the_url)
{
    var the_arr = the_url.split('/');
    the_arr.pop();
    return( the_arr.join('/') );
}

document.onkeydown = keyEvents;

function onResize(callback){
  var elementWidth = div.width;
  setInterval(function(){
      div.width = canvas.parentElement.offsetWidth;
      if(div.width != elementWidth ){
        div.width = canvas.parentElement.offsetWidth;
        elementWidth = div.width;
        div.height = Math.floor((div.width * 9) / 16);
        canvas.height = div.height;
        canvas.width = div.width;
        canvas1.height = canvas.height;
        canvas1.width = canvas.width;
        scaleX = canvas.width / 2476;
        scaleY = canvas.height / 1780;
        ctx.scale(scaleX, scaleY);
        ctx1.scale(scaleX, scaleY);
        callback(percent, path);
      }
  }, 1500);
}

onResize(draw);

function lastStep(nextPath){
  changePath(0, 1, nextPath);
  draw(0, path);
  animationComplete = true;
}

function saveVars(nextPath){
  lastStep(nextPath);
  if(window.sessionStorage){
    window.sessionStorage.path = JSON.stringify(path);
    window.sessionStorage.pathPrev = JSON.stringify(pathPrev);
  }
}

function getVars(){
  try {
    path = JSON.parse(window.sessionStorage.path);
    pathPrev = JSON.parse(window.sessionStorage.pathPrev);
    
  } catch (e){
    path = lastPath;
    pathPrev = lastPath - 1;
  }
}

function reset () {
  lastPath = 0;
  percent = 0;
  getLastPath();
  getVars();
  colorPaths();
}

function getLastPath(){
  lastPath = 7;
  if(completions.length > 0){
    if(assignments.length > 0){
      for (var i = (stages.length - 1); i > 1; i--) {
        if (assignments[i] != completions[i]) {
          lastPath = i;
        }
      }
      if(completions[6] === assignments[6] && lastPath >= 5){
        lastPath = 7;
      }
    }
  } 
  if(lastPath > 5 && lastPath < (stages.length - 1)) lastPath++;
}

function getAssignments(activities){
  return activities.filter(function(obj){ return obj.modulename != "mapa Activity";});
}

function getSites(activities){
  activities = getAssignments(activities);
  sites = activities.map(function(obj){return {url: obj.url, section: obj.section};});
}

function getSections(old, newArray){
  for( var i = 0; i < (stages.length - 1); i++){
    newArray.push(old.filter(function (value) {
      return value.section === i;
    }).length);
  }
}

function getTime(dateFuture){
  var dateNow = new Date();
  var seconds = Math.floor((dateFuture - (dateNow))/1000);
  var minutes = Math.floor(seconds/60);
  var hours = Math.floor(minutes/60);
  var days = Math.floor(hours/24);
  if(seconds < 1){
    return {days : 0, hours: 0, minutes: 0, seconds: 0};
  }
  hours = hours-(days*24);
  minutes = minutes-(days*24*60)-(hours*60);
  seconds = seconds-(days*24*60*60)-(hours*60*60)-(minutes*60);

  return {days, hours, minutes, seconds};
}

function drawBackground(){
  setInterval(function(){
    var images =[background0, background1, background2, background3, background4];
    if(i === 4) d = -1;
    if(i === 0) d = 1;
    i += d;
    ctx1.clearRect(0, 0, canvas.width, canvas.height);
    ctx1.drawImage(images[i], 0, 0);
  }, 400);
}

function start (imageUrl, sections, grades, timer){
  timeRemaining = parseInt(timer.timeend, 10) * 1000;
  console.log({timer, timeRemaining});
  activities = sections['complete'].concat(sections['incomplete']);
  console.log({grades, sections, activities});
  imageUrl = RemoveLastDirectoryPartOf(imageUrl);
  if(sections) {
    getSections(sections['complete'], completions);
  }
  if(activities){
    getSites(activities);
    getSections(sites, assignments);
  }
  userGrade = grades.reduce(function (acc, obj) { return acc + obj.userGrade; }, 0);
  maxGrade = grades.reduce(function (acc, obj) { return acc + obj.maxGrade; }, 0);
  reset();
  console.log({maxGrade, userGrade, lastPath, assignments, completions});
  sprite = createImg(imageUrl + '/sprite');
  background0 = createImg(imageUrl + '/background0');
  background1 = createImg(imageUrl + '/background1');
  background2 = createImg(imageUrl + '/background2');
  background3 = createImg(imageUrl + '/background3');
  background4 = createImg(imageUrl + '/background4');
  sprite.onload = function(){
    spriteLoaded = true;
  };
  background0.onload = function() {
    if(spriteLoaded){
      ctx1.drawImage(background0, 0, 0);
      drawBackground();
      drawTimer();
      draw(percent, path);  
  }
    
  };
}

function createImg(source){
  var img = document.createElement("img");
  img.src = source;
  return img;
}
   
      return {
          init: start('{{imageUrl}}',{{#completions}}
          {
          complete:[{{#complete}}{
            section:{{#section}}{{.}}{{/section}}{{^section}}0{{/section}},
            completion:{{#completion}}'{{.}}'{{/completion}}{{^completion}}'0'{{/completion}},
            grade:{{#grade}}{{.}}{{/grade}}{{^grade}}0{{/grade}},
            passGrade:{{#passGrade}}{{.}}{{/passGrade}}{{^passGrade}}0{{/passGrade}},
            url:{{#url}}'{{.}}'{{/url}}{{^url}}''{{/url}},
            type:{{#type}}'{{.}}'{{/type}}{{^type}}''{{/type}}
          },{{/complete}}{{^complete}}{{/complete}}],
          incomplete:[{{#incomplete}}{
            section:{{#section}}{{.}}{{/section}}{{^section}}0{{/section}},
            completion:{{#completion}}'{{.}}'{{/completion}}{{^completion}}'0'{{/completion}},
            grade:{{#grade}}{{.}}{{/grade}}{{^grade}}0{{/grade}},
            passGrade:{{#passGrade}}{{.}}{{/passGrade}}{{^passGrade}}0{{/passGrade}},
            url:{{#url}}'{{.}}'{{/url}}{{^url}}''{{/url}},
            type:{{#type}}'{{.}}'{{/type}}{{^type}}''{{/type}}
          },{{/incomplete}}{{^incomplete}}{{/incomplete}}]
          },
          {{/completions}}[{{#userGrades}}
          {
          section:{{#section}}{{.}}{{/section}}{{^section}}0{{/section}},
          passGrade:{{#passGrade}}{{.}}{{/passGrade}}{{^passGrade}}0{{/passGrade}},
          maxGrade:{{#maxGrade}}{{.}}{{/maxGrade}}{{^maxGrade}}0{{/maxGrade}},
          userGrade:{{#userGrade}}{{.}}{{/userGrade}}{{^userGrade}}0{{/userGrade}}
          },{{/userGrades}}]{{^userGrade}}{{/userGrade}},
          {
            timestart:{{#timestart}}{{.}}{{/timestart}}{{^timestart}}0{{/timestart}},
            timeend:{{#timeend}}{{.}}{{/timeend}}{{^timeend}}0{{/timeend}},
          }),
      };
  });
{{/js}}
{{/hasactivities}}
{{^hasactivities}}
  <p>{{intro}}</p><br>
  <p>{{modinfo}}</p>
{{/hasactivities}}
